.hidden {
    display: none;
}

.error {
    display: none;
    color: red

}
body {
    background-color: #A7C4CB;
    font-family: Helvetica,sans-serif;
    font-weight: bold
   }

#change {
    background-color: #90EE90;
   }



   
