.hidden {
    display: none;
}

.error {
    display: none;
    color: red

}
body {
    background-color: #A7C4CB;
    font-family: Helvetica,sans-serif;
    font-weight: bold
   }

#change {
    background-color: #90EE90;
   }



   .candy-stripe  
  ul{
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: space-between
    background:
      color: #f0f0f0
  }    
.stripe{
  height: 1rem
  width: 100%
  margin: 0
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
  
  @media (min-width: 900px)
    height: 1.5rem

  &:nth-child(even)
    background:
      color: #EBB9BB
    width: 150%
}   