<!DOCTYPE html>
<html lang="en-CA">
<head>
    <title>Calculator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/finance.css">
	<script type="text/JavaScript" src="../static/js/finance.js"></script>
    <!--add icon-->
</head>

<body>
    <h>Calculator</h>
    <form id="finances">
        <br><label>What is your monthly income? </label><input id="inp1" type="number" oninput="checkForNegative(this, errorSalary)">
        <span id="errorSalary" class="error">Please enter a positive number</span><br><br>
        
        <span>Do you have a mortgage? </span>
        <input type="radio" id="yMortgage" class="radioButton" value="Yes" name="mortgage" onclick="showQuestion(qMortgage)"><label>Yes</label>
        <input type="radio" id="nMortgage" class="radioButton" value="No" name="mortgage" onclick="hideQuestion(qMortgage)"><label>No</label>
        <br>
        <div id="qMortgage" class="hidden"><label>How much do you pay per month on your mortgage? </label><input type="number" id="mortgageNum" class="hiddenInp" oninput="checkForNegative(this, errorMortgage)"><br>
        <span id="errorMortgage" class="error">Please enter a positive number</span></div><br>

        <span>Do you pay rent? </span>
        <input type="radio" id="yRent" class="radioButton" value="Yes" name="rent" onclick="showQuestion(qRent)"><label>Yes</label>
        <input type="radio" id="nRent" class="radioButton" value="No" name="rent" onclick="hideQuestion(qRent)"><label>No</label>
        <br>
        <div id="qRent" class="hidden"><label>How much do you pay per month on rent? </label><input type="number" id="rentNum" class="hiddenInp" oninput="checkForNegative(this, errorRent)"><br>
        <span id="errorRent" class="error">Please enter a positive number</span></div><br>

        <span>How many subscriptions do you have (gym, music, streaming, etc)? </span>
        <input type="number" id="numSubs" oninput="inputSubs(this, errorSubs)">
        <span id="errorSubs" class="error">Please enter a positive whole number</span></div>
        <span id="moneyErrors" class="error">All money values must be positive numbers</span>
        
        <br><br>
        <span>Do you have car payments? </span>
        <input type = "radio" id="ycar" class = "radioButton" value = "Yes" name = "car" onclick="showQuestion(qcar)"><label>Yes</label>
        <input type="radio" id="ncar" class="radioButton" value="No" name="car" onclick="hideQuestion(qcar)"><label>No</label>
        <br>
        <div id="qcar" class="hidden"><label>How much do you pay for your car per month? <input type="number" id="carnum" class="hiddenInp" oninput="checkForNegative(this, errorcar)"> 
        <br>  How much is car insurance per month?  </label>  <input type="number" id="carnum" class="hiddenInp" oninput="checkForNegative(this, errorcar)"><br>
        <span id="errorcar" class="error">Please enter a positive number</span></div>
        
        <br>
        <span>Do you pay for your phone and internet bills? </span>
        <input type = "radio" id="yphone" class = "radioButton" value = "Yes" name = "phone" onclick="showQuestion(qphone)"><label>Yes</label>
        <input type="radio" id="nphone" class="radioButton" value="No" name="phone" onclick="hideQuestion(qphone)"><label>No</label>
        <br>
        <div id="qphone" class="hidden"><label>How much do you pay for your phone per month? <input type="number" id="phonenum" class="hiddenInp" oninput="checkForNegative(this, errorphone)">
        <br>  How much do you pay for internet per month?  </label>  <input type="number" id="phonenum" class="hiddenInp" oninput="checkForNegative(this, errorphone)"><br>
        <span id="errorphone" class="error">Please enter a positive number</span></div><br>




    </form>



</body>
</html>